uvicorn
fastapi
python-multipart
python-dotenv
pymongo
langchain
langchain-community
langchain-chroma
langchain-huggingface
langchain-groq
langchain-text-splitters
langgraph
chromadb
sentence-transformers
pypdf
tavily-python
langchain-tavily